{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <p class="mb-auto"> Posted by <a class="mr-2" href="#">@{{ post.author }}</a> </p>
                    <small class="text-muted float-right">{{ post.date_posted|date:'l, d M, Y' }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}


{% endblock %}