{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Registration</title>
{% endblock %}

{% block body %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Registration</legend>
                <div class="row">
                    <div class="col-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}